---
import "../style/global.css"
import NavbarContainer from "@/layout/components/functional components/navbar/NavbarContainer"
import Header from "@/layout/components/functional components/Header"
import siteConfig from "../config/site.json"

import "primereact/resources/themes/lara-light-cyan/theme.css"; 
import "primereact/resources/primereact.min.css";
import "primeicons/primeicons.css";
import NavbarDesktop from "./components/functional components/navbar/NavbarDesktop";
import MobileNavbar from "./components/functional components/navbar/MobileNavbar";

export interface Props {
  title?: string,
  meta_title?:string,
  favicon?: string,
	className?: string,
	style?: string
}

const {
  title = siteConfig.site.title, 
  favicon = siteConfig.site.favicon_image, 
	className,
	style,
  meta_title} = Astro.props

	const pathname = Astro.url.pathname;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body 
		style={style}
		class={`bg-background min-h-screen flex flex-col ${className}`}>

		<main class="grow">
			<div class="flex flex-row md:grid md:grid-cols-[auto_1fr] min-h-screen">
				
				<NavbarDesktop pathname={pathname} client:only="react" className="md:block hidden"/>
				<div class="flex flex-col w-full min-w-0"> <header class="flex flex-row items-center justify-between w-full">
						<Header client:only="react" title="Flow Drive"/>
						<MobileNavbar pathname={pathname} client:only="react" className="block md:hidden"/>
					</header>

					<div class="flex-1"> 
						<slot/>
					</div>

				</div>
			</div>
		</main>
	</body>
</html>
